* {
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  background-color: white;
  font-family: "Poppins", sans-serif;
}

header.main ul {
  display: flex;
  justify-content: center;
}
header.main li {
  list-style-type: none;
}

header.main li a {
  /* padding: 0 1.5rem; */
  display: block;
}
div.nav-search-bar {
  display: flex;
  padding: 0 4rem;
  /* justify-content: center; */
  align-items: center;
  /* background-color: red; */
}
div.nav-search-bar .search-input {
  /* background-color: brown; */
  width: 80%;
  position: relative;
}
div.nav-search-bar .search-input input {
  width: 95%;
  padding: 10px;
  border-radius: 8px;
  position: relative;
}

div.nav-search-bar button {
  height: 38px;
  background-color: white;
  position: absolute;
  left: 94%;
  padding: 2px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
div.nav-search-bar .search-input input,
div.nav-search-bar button {
  border: 1px solid gray;
}
nav {
  position: sticky;
  width: 100%;
  display: flex;
  justify-content: start;
  padding: 20px 3.5rem;
  box-sizing: border-box;
  align-items: center;
  background-color: #152793;
  top: 0;
  z-index: 1;
}
nav .logo {
  display: none;
}

nav ul li a {
  position: relative;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.hamburger-icon {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 25px;
}
.hamburger-icon span {
  display: block;
  width: 28px;
  height: 2px;
  background-color: black;
}

nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-evenly;
}
section#hero {
}
section#hero .hero-banner {
  width: 100%;
  min-height: 200px;
  max-height: 500px;
  background-color: aquamarine;
}
section#hero .hero-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
section#hero .service-hero-container {
  display: flex;
  justify-content: center;
}
section#hero .service-hero-container .service-hero {
  width: 60%;
  height: 200px;
  margin-top: -50px;
  background-color: blueviolet;
}
section.container-tab {
  padding: 0;
  margin: 100px auto;
  box-sizing: border-box;
  /* background-color: aquamarine; */
  max-width: 1400px;
}
section.container-tab .tabcontent .card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
  max-width: 1400px;
  place-items: center;
  margin: auto;
  /* background-color: pink; */
}
section.container-tab .tabcontent .card-container .card {
  /* background-color: aqua; */
  width: 18rem;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
section.container-tab .tabcontent .card-container .card .card-img {
  width: 100%;
  height: 70%;
}
section.container-tab .tabcontent .card-container .card .card-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
section.container-tab .tabcontent .card-container .card .card-footer button {
  background-color: #152793;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 8px;
}
.tab {
  /* overflow: hidden; */
  /* border: 1px solid #ccc; */
  border-bottom: 2px solid rgba(229, 229, 229);
  /* background-color: rgb(192, 246, 255); */
  width: 100%;
  display: flex;
  justify-content: start;
  position: relative;
  font-size: 18px;
}

.tab button {
  background-color: inherit;
  /* float: left; */
  border: none;
  cursor: pointer;
  padding: 18px;
  font-size: 18px;
}
.tab button.tab-active {
  font-weight: bold;
  color: #152793;
}
section.container-tab .tab .line {
  position: absolute;
  top: 52px;
  left: 0;
  width: 313px;
  height: 5px;
  background-color: red;
  transition: all 0.3s ease-in-out;
}
section.container-tab .tab .line2 {
  position: absolute;
  top: 52px;
  left: 0;
  width: 146px;
  height: 5px;
  background-color: rgb(0, 255, 55);
  transition: all 0.3s ease-in-out;
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  animation: moving 0.5s ease;
}
@keyframes moving {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
.tabcontent.tab-active {
  display: block;
}
/* article related */

/* end article related */
section#article-related {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 380px));
  justify-content: center;
  background-color: pink;

  max-width: 1500px;
  place-items: center;
  margin: 100px auto;
}
section#article-related div {
  width: 300px;
  height: 300px;
  background-color: aquamarine;
}
section.categories-home {
  display: flex;
  overflow-x: scroll;
  gap: 20px;
  background-color: pink;
  justify-content: center;
  max-width: 1300px;
  margin: auto;
  flex-wrap: nowrap;
}
section.categories-home .categories-content {
  background-color: aquamarine;
  width: 300px;
  height: 300px;
}
footer {
  background-color: #333333;
  padding: 10px 5rem;
  box-sizing: border-box;
}
footer .footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 400px));
  /* background-color: pink; */
}
footer .footer-container .logo-content .footer-contact {
  display: flex;
  align-items: center;
  margin-top: 25px;
  gap: 10px;
}
footer .footer-container .logo-content .footer-contact img {
  width: 22px;
}
footer .footer-container .logo-content .footer-contact span {
  color: white;
}
footer .footer-container .menu-footer {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 28px;
  color: white;
}
footer .footer-container .menu-footer a {
  font-size: 18px;
  color: white;
  text-decoration: none;
}
/* Responsive Styling */
@media (max-width: 768px) {
  div.nav-search-bar {
    display: none;
  }
  div.nav-search-bar img {
    display: none;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 18px;
    box-sizing: border-box;
    background-color: white;
  }
  nav ul {
    display: none;
    opacity: 0;
    flex-direction: column;
    align-items: center;
    width: 0%;
    background-color: white;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    transition: 1s;
  }
  nav ul li a {
    color: black;
  }
  nav div.logo {
    display: block;
  }
  nav div.logo img {
    width: 50%;
  }
  nav ul.tampil-nav-ul {
    display: flex;
    opacity: 1;
    width: 40%;
  }

  .hamburger-icon {
    display: flex;
    z-index: 2;
  }
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 12px;
  }
  section.container-tab {
    padding: 0;
  }
  section.container-tab .tabcontent .card-container {
    width: 100%;
  }
  footer {
    padding: 5px;
    width: 100%;
  }
  footer .footer-container .logo-content img {
    width: 80%;
  }
}
