* {
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  background-color: white;
  font-family: "Poppins", sans-serif;
}

header.main ul {
  display: flex;
  justify-content: center;
}
header.main li {
  list-style-type: none;
}

header.main li a {
  /* padding: 0 1.5rem; */
  display: block;
  /* color: red; */
}
div.nav-search-bar {
  display: flex;
  padding: 0 4rem;
  /* justify-content: center; */
  align-items: center;
}
div.nav-search-bar .search-input {
  width: 80%;
  position: relative;
}
div.nav-search-bar .search-input input {
  width: 95%;
  padding: 10px;
  border-radius: 8px;
  position: relative;
}

div.nav-search-bar button {
  height: 100%;
  /* background-color: rebeccapurple; */
  position: absolute;
  left: 94%;
  padding: 2px;
  box-sizing: border-box;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
div.nav-search-bar .search-input input,
div.nav-search-bar button {
  border: 1px solid gray;
}
nav {
  position: sticky;
  width: 100%;
  display: flex;
  justify-content: start;
  padding: 20px 3.5rem;
  box-sizing: border-box;
  align-items: center;
  background-color: #283891;
  top: 0;
  z-index: 1;
}
nav .logo {
  display: none;
}

nav ul li a {
  position: relative;
  text-decoration: none;
  color: white;

  font-size: 16px;
}
nav ul li div.search-box-mobile {
  display: none;
}
.hamburger-icon {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 25px;
}
.hamburger-icon span {
  display: block;
  width: 28px;
  height: 2px;
  background-color: black;
}

nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-evenly;
}
.slider {
  max-width: 100vw;
  background-color: aquamarine;
  height: 65vh;
  position: relative;
  overflow: hidden;
}
.list {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  width: max-content;
  transition: 1s;
}
.slider:hover .dots {
  opacity: 1;
}
.list img {
  width: 100vw;
  height: 100%;
  object-fit: cover;
}
.dots {
  position: absolute;
  bottom: 19%;
  color: red;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  opacity: 0; /* Hidden by default */
  transition: opacity 0.5s ease-in-out; /* Smooth transition */
}
.dots li {
  list-style: none;
  width: 20px;
  height: 20px;
  background-color: rgba(184, 184, 184, 0.6);
  border-radius: 20px;
  margin: 20px;
  transition: 1s;
}
.dots li.active {
  width: 40px;
}
.slogan-container {
  width: 800px;
  height: 200px;
  background-color: white;
  box-shadow: 3px 5px 20px 1px rgba(184, 184, 184, 1);
  display: flex;
  justify-content: center;
  gap: 10px;
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero .slogan-container .slogan-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: aliceblue; */
  width: 30%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 10px;
  text-align: center;
  gap: 20px;
}
.hero .slogan-container .slogan-content .slogan-header {
  max-width: 100%;
  max-height: 30%;
}
.hero .slogan-container .slogan-content p {
  color: gray;
  font-size: 14px;
}

/* vertikal container home style */
.slider2-container {
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
  margin-top: 300px;
}

.dot2s2-nav {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dot2 {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #333;
  cursor: pointer;
  transition: background 0.3s ease;
}

.dot2.active {
  background: #ddd;
}

.slider2 {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease;
}

.slide {
  height: 100vh;
  width: 100%;
  flex-shrink: 0;
  position: relative;
}
.slide.video-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0.5) 25%,
    rgba(0, 0, 0, 0) 50%
  );
  z-index: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slide .video-caption {
  position: absolute;
  z-index: 2;
  top: 40%;
  left: 5%;
  color: white;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.slide .video-caption h1 {
  font-size: 70px;
}
.slide #video {
  width: 100vw;
  height: 100%;
  object-fit: cover;
  position: relative;
}

/* end vertikal container home style */
.home-related-article {
  width: 100%;
  /* background-color: pink; */
}
.home-related-article .related-article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* background-color: gray; */
  max-width: 1400px;
  margin: auto;
  place-items: center;
  margin-top: 100px;
}
.home-related-article .related-article .article-card {
  width: 510px;
  height: 450px;
  border: 1px solid #c1c1c1;
  display: flex;
  flex-direction: column;
}
.home-related-article .related-article .article-card .article-card-head {
  width: 100%;
  height: 70%;
  background-color: aliceblue;
}
.home-related-article .related-article .article-card .article-card-head img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-related-article .related-article .article-card .article-card-bages {
  margin: 0 auto;
}
.home-related-article .related-article .article-card .article-card-bages h3 {
  width: max-content;
  background-color: #152793;
  padding: 4px 8px;
  color: white;
  margin-top: -15px;
}
.home-related-article .related-article .article-card .article-title {
  text-align: center;
  margin-top: 10px;
  /* background-color: antiquewhite; */
  padding: 0 14px;
  box-sizing: border-box;
}
section.container-tab {
  padding: 0;
  margin: 100px auto;
  box-sizing: border-box;
  /* background-color: aquamarine; */
  max-width: 1400px;
}
section.container-tab .tabcontent .card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  row-gap: 70px;
  column-gap: 33px;
  max-width: 1400px;
  place-items: center;
  margin: auto;

  /* background-color: pink; */
}
section.container-tab .tabcontent .card-container .card {
  /* background-color: aqua; */
  width: 18rem;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
section.container-tab .tabcontent .card-container .card .card-img {
  width: 100%;
  height: 70%;
}
section.container-tab .tabcontent .card-container .card .card-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
section.container-tab .tabcontent .card-container .card .card-footer button {
  background-color: #152793;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 8px;
}
.tab {
  /* overflow: hidden; */
  /* border: 1px solid #ccc; */
  border-bottom: 2px solid rgba(229, 229, 229);
  /* background-color: rgb(192, 246, 255); */
  width: 100%;
  display: flex;
  justify-content: start;
  position: relative;
  font-size: 18px;
}

.tab button {
  background-color: inherit;
  /* float: left; */
  border: none;
  cursor: pointer;
  padding: 18px;
  font-size: 18px;
}
.tab button.tab-active {
  font-weight: bold;
  color: #152793;
}

section.container-tab .tab .line2 {
  position: absolute;
  top: 52px;
  left: 0;
  width: 146px;
  height: 5px;
  background-color: #152793;
  transition: all 0.3s ease-in-out;
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  animation: moving 0.5s ease;
}
@keyframes moving {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
.tabcontent.tab-active {
  display: block;
}

.wrapper-kategori {
  /* background-color: pink; */
  margin: 100px auto;
  max-width: 1400px;
  box-sizing: border-box;
}
.wrapper-kategori h1 {
  margin-bottom: 10px;
}
.carousel-container {
  position: relative;
}

.wrapper-kategori .carousel-kategori {
  display: flex;
  overflow: hidden;
  width: 100%;
  scroll-behavior: smooth;
}

.wrapper-kategori .carousel-kategori ul {
  display: flex;
  transition: transform 0.5s ease-in-out;
  padding: 0;
  margin: 0;
  list-style: none;
}

.wrapper-kategori .carousel-kategori .card-kategori {
  min-width: calc((100% / 4) - 12px);
  margin-right: 10px;
  height: 264px;
}
.wrapper-kategori .carousel-kategori .card-kategori a {
  text-decoration: none;
}

.img-kategori {
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  color: white;
  font-size: 1.2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.img-item {
  height: 100%;
}

/* .wrapper-kategori .carousel-kategori .card-kategori .img-kategori h5 {
  font-size: 24px;
} */
/* Navigation buttons */
#prev,
#next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

#prev {
  left: 10px;
}

#next {
  right: 10px;
}

#prev:hover,
#next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

footer {
  background-color: #333333;
  padding: 10px 5rem;
  box-sizing: border-box;
}
footer .footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 400px));
  /* background-color: pink; */
}
footer .footer-container .logo-content .footer-contact {
  display: flex;
  align-items: center;
  margin-top: 25px;
  gap: 10px;
}
footer .footer-container .logo-content .footer-contact img {
  width: 22px;
}
footer .footer-container .logo-content .footer-contact span {
  color: white;
}
footer .footer-container .menu-footer {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 28px;
  color: white;
}
footer .footer-container .menu-footer a {
  font-size: 18px;
  color: white;
  text-decoration: none;
}
/* Responsive Styling */

/* extra large destkop */
@media (min-width: 1900px) {
  .slogan-container {
    top: 85%;
  }
}
/* extra large destkop */

/* large desktop */
@media (max-width: 1280px) {
  section.container-tab {
    box-sizing: border-box;
    padding: 0 2rem;
  }
  .wrapper-kategori {
    box-sizing: border-box;
    padding: 0 2rem;
  }
  .slogan-container {
    top: 85%;
  }
}
/* end large desktop */

/* medium desktop */
@media (max-width: 1024px) {
  nav ul {
    width: 50%;
  }
  .home-related-article .related-article .article-card {
    width: 480px;
  }
}

/* end medium desktop */

@media (max-width: 768px) {
  div.nav-search-bar {
    display: none;
  }
  div.nav-search-bar img {
    display: none;
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 18px;
    box-sizing: border-box;
    background-color: white;
    position: sticky;
  }
  nav ul {
    display: none;
    opacity: 0;
    flex-direction: column;
    align-items: center;
    width: 0%;
    background-color: white;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    transition: 1s;
  }
  nav ul li div.search-box-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: max-content;
    margin-top: 30px;
    position: relative;
    padding: 4px;
    box-sizing: border-box;
  }
  nav ul li div.search-box-mobile input {
    width: 100%;
    height: 30px;
  }
  nav ul li div.search-box-mobile button img {
    width: 25px;
    height: 25px;
  }

  nav ul li a {
    color: black;
  }
  nav div.logo {
    display: block;
  }
  nav div.logo img {
    width: 50%;
  }
  nav ul.tampil-nav-ul {
    display: flex;
    opacity: 1;
    width: 40%;
  }

  .hamburger-icon {
    display: flex;
    z-index: 2;
  }

  .hero .slider {
    width: 100%;
  }
  .hero .slogan-container {
    width: 90%;
    height: auto;
  }

  .hero .slogan-container .slogan-content {
    width: 30%;
    padding: 10px 0; /* Add some vertical padding */
  }

  /* Adjust text size for mobile */
  .hero .slogan-container .slogan-content h4 {
    font-size: 14px; /* Slightly smaller text */
  }

  .hero .slogan-container .slogan-content p {
    font-size: 10px; /* Reduce paragraph text size */
  }
  .home-related-article .related-article {
    gap: 18px;
  }
  .home-related-article .related-article .article-card {
    width: 90%;
  }
  .home-related-article .related-article .article-card .article-card-head img {
    object-fit: cover;
  }
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 12px;
  }
  section.container-tab {
    padding: 0;
  }
  section.container-tab .tab .line2 {
    top: 40px;
    width: 105px;
  }
  section.container-tab .tabcontent .card-container {
    width: 100%;
  }
  footer {
    padding: 5px;
    width: 100%;
  }
  footer .footer-container .logo-content img {
    width: 80%;
  }
}
